{% extends "base/index.html" %}
{% block body %}
<hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Benedict Wagstaff</h2>
      <p class="lead">Global Accounts @ AppNexus. Oversees AppNexus’ relationships with America’s second largest advertiser. Directs internal cross-functional team and leads theoretical design of digital strategy to shape the future of advertising. Previous roles providing technical and business strategy and consulting for key adtech players. Global experience in economic research, marketing, tech policy and entrepreneurship in developing markets. Proud Princetonian.</p>
    </div>
    <div class="col-md-5">
      <img src="/static/images/benny.jpg" alt="benny" style="width:340px;height:409px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">V. Thomas Rajan</h2>
      <p class="lead">A thirty-year career spent solving important challenges in computer science: demonstrated by 50 papers, 25 patents, and several awards for innovation. Most recently, Rajan worked one-commerce recommendation systems at Etsy, and modeling consumer responses to digitaladvertising at AppNexus. Prior, he worked as a Research Staff Member at IBM Watson, where he focused on Data Science, JVM, hardware, and software design. His paper on memory management won the 2013 ACM POPL most influential paper award, and he was a member of the team that won the 2010 Computer Go Championship. Rajan received his P.h.D in Physics from UC Berkeley and has held research/teaching positions at MIT, NYU and Columbia.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img src="/static/images/rajan.jpg" alt="rajan" style="width:408px;height:409px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Adam Petranovich</h2>
      <p class="lead">A data scientist with extensive experience designing and implementing machine learning algorithms. Recently, he has worked in programmatic adtech creating systems for real time bidding platforms executing millions of decisions a second. Previously, Adam was an economist for the primary and secondary mortgage markets creating pricing and market studies for large financial institutions. He’s built experience solving complex problems across multiple languages and has a strong background in web development.</p>
    </div>
    <div class="col-md-5">
      <img src="/static/images/adam.jpg" alt="adam" style="width:409px;height:409px;">
    </div>
  </div>

  <hr class="featurette-divider">

    <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Nick Kowalski</h2>
      <p class="lead">Supply Partnerships @ AppNexus managing the most important technical and contractualrelationships with strategic frenemies including Facebook, AOL and Google. Prior experiencein technical implementation and business strategy for key adtech players at AppNexus.Previously, Nick built business development strategy for Firefly, a co-browsing pioneer acquiredby Pegasystems in 2014. B.A. in Philosophy, Politics and Economics from the University of Pennsylvania.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img src="/static/images/nick.jpg" alt="nick" style="width:408px;height:409px;">
    </div>
  </div>

  <hr class="featurette-divider">


{% endblock %}